<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-jsp:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-boot-jsp</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-boot-jsp</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-jsp" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring-boot-jsp/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-boot-jsp/web/Web" />
    </root>
  </artifact>
</component>